@page
@model GameModel

@{
    ViewData["Title"] = "Game Details";
}

<h1>@Html.DisplayFor(model => model.Game.gameID)</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.gameID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.gameDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.gamePlayers)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Score)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.winOrLoss)
        </dt>
    </dl>
</div>
<div>
    <a asp-page="./Index">Home</a>
</div>